.subMenu {
    transform: translateX(-100%);
    /*transform: translateX(0%);*/
    transition: transform 0.1s ease-in-out 0s !important;
}

.open {
    transform: translateX(0);
}


::deep .containerGrid {
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "levo desno";
    padding: 0;
    width: 56px;
    margin: 0;
    position: absolute
}

::deep .levo {
    grid-area: levo;
    z-index: 2
}

::deep .desno {
    grid-area: desno;
    max-width: 450px;
    word-wrap: break-word;
    margin: 0 !important;
    background-color: aquamarine;
    z-index: 1
}
