@using WholeSaleApp.Client.Components.Common.NavBar.SubNavComponent
@using WholeSaleApp.Client.Helpers
<div>
    <MudContainer Style="box-shadow: 30px 6px 29px -22px rgba(0,0,0,0.2);">
        <MudDrawer @bind-Open="@open" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="false" Style="max-width: 56px; overflow:visible">
            <MudNavMenu Style="white-space: nowrap; z-index: 5">
                @foreach (var menuItemDto in MenuItems)
                {
                    <div>
                        <MudContainer Class="hoverable">
                            <MudIcon Icon="@TypeHelper.GetConstantValue(menuItemDto.Icon)" Style=""></MudIcon>
                            <MudContainer Class="sub">
                                <SubNavComponent ParentMenuItemId="menuItemDto.Id">
                                </SubNavComponent>
                            </MudContainer>
                        </MudContainer>
                    </div>
                }
            </MudNavMenu>
        </MudDrawer>
    </MudContainer>
</div>