@page "/VatType/{Id:int}"
@page "/VatType/New"

@using WholeSaleApp.Shared.DTOs.CodeBook
@using WholeSaleApp.Client.Components.Modules.CrudComponentBase

@inherits CrudComponentBase<VatTypeDto>

<h3>VatTypeComponent</h3>

@code {

}
