@page "/SalesInvoices/{Id:int}"
@page "/SalesInvoices/New"
@using WholeSaleApp.Client.Components.Modules.CrudComponentBase

@inherits CrudComponentBase<WholeSaleApp.Shared.DTOs.DTO_Classes.ResponseDtos.Documents.Invoice.SalesInvoiceDto>

<h3>SalesInvoiceComponent</h3>

@code {

}