@page "/SalesInvoices/{Id:int}"
@page "/SalesInvoices/New"

@using WholeSaleApp.Shared.DTOs.Documents.Invoices
@using WholeSaleApp.Client.Components.Modules.CrudComponentBase

@inherits CrudComponentBase<SalesInvoiceDto>

<h3>SalesInvoiceComponent</h3>

@code {

}