::deep .selected {
    background-color: #1E88E5 !important;
}

    ::deep .selected > td {
        color: white !important;
    }

        ::deep .selected > td .mud-input {
            color: white !important;
        }


.flex-container {
    display: flex;
    justify-content: flex-start;
}

.flex-item {
    margin: 0 10px 0 0;
}
