@page "/Warehouses/{Id:int}"
@page "/Warehouses/New"

@using WholeSaleApp.Shared.DTOs.CodeBook
@using WholeSaleApp.Client.Components.Modules.CrudComponentBase

@inherits CrudComponentBase<WarehouseDto>

<h3>WarehouseComponent</h3>

@code {

}
