@page "/Goods/{Id:int}"
@page "/Goods/New"

@using WholeSaleApp.Shared.DTOs.CodeBook
@using WholeSaleApp.Client.Components.Modules.CrudComponentBase

@inherits CrudComponentBase<GoodDto>

<h3>GoodComponent</h3>

@code {

}
