@page "/Vat/{Id:int}"
@page "/Vat/New"

@using WholeSaleApp.Shared.DTOs.CodeBook
@using WholeSaleApp.Client.Components.Modules.CrudComponentBase

@inherits CrudComponentBase<VatDto>

<h3>VatComponent</h3>

@code {

}
