@using WholeSaleApp.Client.Helpers
@inherits MudComponentBase
@if (MenuItems.Count > 0)
{
    <div>
        <MudTreeView T="string">
            @foreach (var menuItemDto in MenuItems)
            {
                <MudNavLink Href="@menuItemDto.Path" Icon="@TypeHelper.GetConstantValue(menuItemDto.Icon)">@menuItemDto.Caption</MudNavLink>
            }
        </MudTreeView>
    </div>
}
